<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ggj04.chatprogramwithfb">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_start"               // 앱의 아이콘을 변경
        android:label="양호"                            // 앱의 이름을 변경
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">         
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>     // MainActivity에서 google 서비스를 view로 담아서 조작할 수 있도록 선언
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">                       // Splash Screen 생성
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>     // SplashActivity를 최초 실행되도록 설정 (MAIN으로 설정했음에도 불구하고
                                                                        // Default Activity가 없다는 에러가 자꾸 떠서 App config에서 시작 
                                                                        // Activity를 SplashActivity로 강제 지정
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />

        <service android:name=".MyFcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_color"
            android:resource="@color/colorPrimaryDark" />

    </application>

</manifest>
